{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://t.me/Gary_Hou"><img src="{% static 'images/telegram.svg' %}" alt="..." target="_blank"></a></li>
        <li><a href="https://github.com/hougarry"><img src="{% static 'images/github.svg' %}" alt="..." target="_blank"></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..." target="_blank"></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/zhihu.svg' %}" alt="..." target="_blank"></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Powered by <a href="https://github.com/hougarry" target="_blank">Hou Guangyu Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->